$border-color : #F0F0F0;
$primary-color: #5562FF;
$white : #fff;
$black : #000;
$heading-font: "Cinzel", Helvetica, Arial, sans-serif;;
$body-font : 'Open Sans', sans-serif;
$user-name : #545454;
$social-bg: #E6E6E6;
$text-bg : #372800;
$listing-bg : #0C0400;
$text-color: #656565;
$social-icon: #4A4A4A;
$footer-bg: #0C0400;
$footer-border: #BA8574;
$btn-color : #CB8650;
$heading-color: #AB7A50;
$listing-heading-color: #CB8650;
$listing-border-color: #815728;
$menu-bg: #CB8650;
$hover-bg: #CB8650;
$gredient-start: #4e3720;
$gredient-end : #231000;